hal_client_domain(system_app, hal_mlipay)

allow system_app proc_vmallocinfo:file r_file_perms;

binder_call(system_app, storaged)

dontaudit system_app system_suspend_control_service:service_manager find;
